body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('images/background.JPG');
}

#loading {
    text-align: center;
    font-size: x-large;
}

#metamask {
    background-color: rgb(226 162 108 / 71%);
    font-size: 13px;
    border: solid rgb(226 158 100);
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
}

h1 {
    margin: 0.5rem;
    font-size: 19px;
    font-weight: 600;
}

h2 {
    margin: 0.5rem;
    font-size: 13px;
    font-weight: 400;
    padding: 0.5rem 0;
}

h3 {
    margin: 0.5rem;
    font-size: 13px;
    font-weight: 700;
}

#rol {
    background-color: #afc4d7;
    font-size: 13px;
    border: solid 2px #257492;
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
}

#vaccine-id {
    background-color: #b6dda3;
    font-size: 13px;
    border: solid 2px #637b47;
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
}

.add-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #126586;
    background-color: #accad6d4;
    border: solid #126586;
    border-radius: 10px;
    margin: 1rem;
}

.carrier-points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #637b47;
    background-color: #b6dda3;
    border: solid #637b47;
    border-radius: 10px;
    margin: 1rem;
}



.account-input {
    margin:1rem;
    border-radius: 10px;
    min-width: 400px;
    color: #257492;
    text-align: center;
}

.carrier-input {
    margin:1rem;
    border-radius: 10px;
    min-width: 400px;
    color: #637b47;
    text-align: center;
}

.register-input {
    margin:1rem;
    border-radius: 10px;
    color: #932424;
    text-align: center; 
}

.value-input {
    margin:1rem;
    border-radius: 10px;
    width: 70px;
    color: #257492;
    text-align: center;
}

.add-user-button {
    margin: 1rem;
    height: 3rem;
    width: 5rem;
    background-color: #afc4d7;
    border: solid 2px #257492;
    border-radius: 10px;
    color: #066a91;
}

.carrier-points-button {
    margin: 1rem;
    height: 3rem;
    width: 5rem;
    background-color: #b6dda3;
    border: solid 2px #637b47;
    border-radius: 10px;
    color: #637b47;
}

.generic-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #257492;
    border-radius: 10px;
    margin: 1rem;
}

.generic-view-button {
    margin: 1rem;
    height: 5rem;
    min-width: 9rem;
    background-color: #e3db8f;
    border: solid 2px #257492;
    border-radius: 10px;
    color: #257492;
}

.generic-view-text {
    font-weight: 700;
}

.carrier-points-view-text {
    font-weight: 700;
    padding-bottom: 1rem;
}

.register-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9a2a2;
    color: #932424;
    border-radius: 10px;
    border: solid 2px #932424;
    margin: 1rem;
}

.register-view-button {
    margin: 1rem;
    height: 5rem;
    min-width: 7rem;
    background-color: #e9a2a2;
    border: solid 2px #932424;
    border-radius: 10px;
    color: #932424;
}

.status-ko-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-ko-container input {
    margin: 1rem;
    height: 5rem;
    min-width: 7rem;
    background-color: #e9a2a2;
    border: solid 2px #932424;
    border-radius: 10px;
    color: #932424;
}

.status-ok-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-ok-container input {
    margin: 1rem;
    height: 5rem;
    min-width: 7rem;
    background-color: #b6dda3;
    border: solid 2px #637b47;
    border-radius: 10px;
    color: #637b47;
}

.place-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-container input {
    margin: 1rem;
    height: 5rem;
    min-width: 7rem;
    background-color: #afc4d7;
    border: solid 2px #126586;
    border-radius: 10px;
    color: #126586;
}
